<!DOCTYPE html>
<html lang="en">

<%- include("_layouts/head")-%>
    <link rel="stylesheet" href="404.css">

    <body>
        <section id="page">
            <header>
                <%- include("_layouts/nav")-%>
            </header>
            <section class="main">
                <h1>Oops, looks like we need to fix something</h1>
            </section>
            <footer>
                <%- include("_layouts/footer")-%>
            </footer>
        </section>
    </body>

</html>