<!DOCTYPE html>
<html lang="en">

<%- include("_layouts/head")-%>

    <body>
        <section id="page">
            <header>
                <%- include("_layouts/nav")-%>
            </header>
            <section class="articles">
                <form method="POST" action="/contact">

                    <label for="name">Name</label>
                    <input type="text" name="name" id="">


                    <label for="email">email</label>
                    <input type="text" name="email" id="">
                    <% 
            if(typeof errors !== 'undefined'){
                for(var error of errors){
                    %>
                        <h3>
                            <%= error.msg %>
                        </h3>
                        <%
                }
            }
        %>
                            <label for="number">number</label>
                            <input type="text" name="number" id="">
                            <button type="submit">Submit</button>
                </form>
            </section>
            <footer>
                <%- include("_layouts/footer")-%>
            </footer>
        </section>
    </body>

</html>