<!DOCTYPE html>
<html lang="en">

<%- include("_layouts/head")-%>

    <body>
        <section id="page">
            <div class="container">
                <div class="row pt-5 d-flex justify-content-center">
                    <div class="col-6">
                        <form id="form" method="POST" action="/" novalidate>
                            <div class="form-group mb-3">
                                <div class="flex-for-input"><label for="product">Product</label>
                                    <select class="custom-select" name="product" id="product" placeholder="Choose your product">
                        <option value="">Choose your product ...</option>
                        <option value="cappuccino">Cappuccino</option>
                        <option value="latte">Latte</option>
                        <option value="macchiato">Macchiatto</option>
                        </select></div>
                                <div>
                                    <small class="inputMsg" id="productSubText" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="flex-for-input"><label for="quantity">Quantity</label>
                                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Enter quantity">
                                </div>
                                <small class="inputMsg" id="quantitySubText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <div class="flex-for-input"><label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                                </div>
                                <small class="inputMsg" id="nameSubText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <div class="flex-for-input"><label for="email">Email address</label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter email"></div>
                                <small class="inputMsg" id="emailSubText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <div class="flex-for-input"><label for="phone">Your number</label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number"></div>
                                <small class="inputMsg" id="phoneSubText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <div class="flex-for-input"><label for="postCode">Postal Code</label>
                                    <input type="text" class="form-control" name="postCode" id="postCode" placeholder="Postal Code"></div>
                                <small class="inputMsg" id="postCodeSubText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <div class="flex-for-input"><label for="address">Your Address</label>
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address"></div>
                                <small class="inputMsg" id="addressSubText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group mb-3">
                                <div class="flex-for-input"><label for="city">City</label>
                                    <select class="custom-select" name="city" id="city" placeholder="Choose your city">
                        <option value="">Choose your city ...</option>
                        <option value="toronto">Toronto</option>
                        <option value="ottawa">Ottawa</option>
                        <option value="kitchener">Kitchener</option>
                        </select></div>
                                <div>
                                    <small class="inputMsg" id="citySubText" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="flex-for-input"><label for="province">Province</label>
                                    <select class="custom-select" name="province" id="province" placeholder="Choose your province">
                        <option value="">Choose your province ...</option>
                        <option value="ON">ON</option>
                        <option value="BC">BC</option>
                        <option value="QC">QC</option>
                        </select></div>
                                <div>
                                    <small class="inputMsg" id="provinceSubText" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="flex-for-input"><label for="shipping">Shipping type</label>
                                    <select class="custom-select" name="shipping" id="shipping" placeholder="Choose your shipping">
                        <option value="">Choose your shipping ...</option>
                        <option value="1">1 day</option>
                        <option value="2">2 days</option>
                        <option value="3">3 days</option>
                        <option value="4">4 days</option>
                        </select></div>
                                <div>
                                    <small class="inputMsg" id="shippingSubText" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="flex-for-input"><label for="editor">Your editor</label>
                                    <textarea type="text" class="form-control" name="editor" id="editor" placeholder=""></div>
                                <small class="inputMsg" id="addressSubText" class="form-text text-muted"></small>
                                <div>
                                    <small class="inputMsg" id="shippingSubText" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <% if(typeof receiptData !== 'undefined') { 
                            %>
                            <div class="checkoutBox">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">
                                            <%=receiptData.item%>
                                                <%=receiptData.itemPrice%>
                                        </h3>
                                        <h5 class="card-title">
                                            <%=receiptData.name%>
                                        </h5>
                                        <p class="card-text"><span class="tag">Address</span> <span class="value"><%=receiptData.address%></span></p>
                                        <p class="card-text"><span class="tag">Delivery time</span> <span class="value"><%=receiptData.shipping%> day(s)</span></p>
                                        <p class="card-text"><span class="tag">Delivery fee</span>
                                            <%=receiptData.shippingFee%>$</p>
                                        <p class="card-text"><span class="tag">Provincial tax</span> <span class="value"><%=receiptData.tax%></span></p>
                                        <p class="card-text"><span class="tag">Quantity</span> <span class="value"><%=receiptData.quantity%></span></p>
                                        <h5 class="card-title align-right"><span class="tag">Total</span> <span class="value"><%=receiptData.totalPrice%></span>$</h5>
                                    </div>
                                </div>

                            </div>
                            <% } %>

                                <% if(typeof errors !== 'undefined') { 
                            for(var err of errors){
                            %>
                                    <div class="errorBox">
                                        <%= err.msg %>
                                    </div>
                                    <script>
                                        document.querySelector(`#<%= err.param %>`).focus()
                                    </script>
                                    <% } }%>
                    </div>
                </div>
            </div>
        </section>
        <script>
         ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );</script>
    </body>

</html>