<header>
    <nav class="navigation">
        <a href="/"><img src="/img/" class="logo float_left" alt=""></a>
        <ul>
            <% if(appState.loggedIn){%>
                <li class="nav-item">
                    <a href="/logout" class="nav-link active">Log out</a>
                </li>
                <%} else {%>
                    <li class="nav-item">
                        <a href="/login" class="nav-link active">Log in</a>
                    </li>
                    <%}%>
                        <li class="nav-item">
                            <a href="/" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/products" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="/classes" class="nav-link">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link">Contact</a>
                        </li>
        </ul>

    </nav>
    <% if(appState.loggedIn){%>
        <div class="admin-nav">
            <ul>
                <li class="nav-item">
                    <a href="/newProduct" class="nav-link active">New Product</a>
                </li>
                <li class="nav-item">
                    <a href="/newStyle" class="nav-link active">New Style</a>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link active">Posts</a>
                </li>
                <li class="nav-item">
                    <a href="/site" class="nav-link active">Site details</a>
                </li>
            </ul>
        </div>
        <%}%>
</header>