<%- include('_layouts/head') -%>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/classes.css">

    <body>
        <%- include('_layouts/header') -%>
            <section id="page">
                <main class="wrapper">
                    <section class="articles">
                        <table>
                            <tr>
                                <thead>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Picture</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </thead>
                            </tr>
                            <% if(typeof products != 'undefined') {
                                   products.forEach(product=>{
                                    %>
                                <tr>
                                    <td>
                                        <a href="/singlePost/<%=product._id%>">
                                            <%= product.name%>
                                        </a>

                                    </td>
                                    <td>
                                        <%= product.price%> $
                                    </td>
                                    <td>
                                        <img src="img/<%= product.image%>" alt="">
                                    </td>
                                    <td>
                                        <a href="/editPost/<%=product._id%>"><i class="fas fa-pen"></i></a>
                                    </td>
                                    <td>
                                        <a href="/delete/<%=product._id%>"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>

                                <% })}%>
                        </table>
                    </section>
                </main>
            </section>
    </body>
    <%- include('_layouts/footer') -%>