<% if(typeof products != 'undefined') { products.forEach(product=>{%>
    <p id="<%= product._id%>">
        <%= product.name%> ------
            <%= product.price%> $
    </p>
    <% })}%>
        <%= totalPrice%>