<%- include('_layouts/head') -%>

    <body>
        <%- include('_layouts/header') -%>
            <section id="page">
                <main class="wrapper">
                    <section class="articles">
                        <% posts.forEach(post=>{ %>
                            <article class="content-box">
                                <div class="article-content">
                                    <div class="content-text">
                                        <h2 class="content-title">
                                            <%- post.title%>
                                        </h2>
                                        <%- post.body%>
                                    </div>
                                    <img src="/img/<%= post.image %>" alt="<%= post.image%>" class="content-img ">
                                </div>
                            </article>
                            <% }) %>
                    </section>
                </main>
            </section>
    </body>
    <%- include('_layouts/footer') -%>