<%- include('_layouts/head') -%>
    <link rel="stylesheet" href="css/contact.css">
    <script>
        ClassicEditor
            .create(document.querySelector('#body'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <body>
        <%- include('_layouts/header') -%>
            <section id="page">
                <main class="wrapper">
                    <section class="articles">
                        <form action="/newProduct" enctype="multipart/form-data" method="POST">
                            <div class="form-box">
                                <div class="group">
                                    <div class="input-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name">
                                    </div>
                                    <div class="input-group">
                                        <label for="body">Description</label>
                                        <textarea name="body" id="body" cols="50" rows="20"></textarea>
                                    </div>
                                    <div class="input-group flex">
                                        <div>
                                            <div class="input-group">
                                                <label for="price">Price</label>
                                                <input type="text" name="price">
                                            </div>
                                        </div>
                                        <div>
                                            <input style="border:0px;" type="file" name="image" id="image">
                                            <label id='fileBtn' for="image">Product Image<i class="fas fa-upload"></i></label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <button class="submit" type="submit">Save</button>
                                        <button class="reset" type="reset">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
                        <script>
                            ClassicEditor
                                .create(document.querySelector('#body'))
                                .catch(error => {
                                    console.error(error);
                                });
                        </script>
                    </section>
                </main>
            </section>
    </body>
    <%- include('_layouts/footer') -%>