<%- include('_layouts/head') -%>
    <link rel="stylesheet" href="css/classes.css">
    <link rel="stylesheet" href="/css/products.css">

    <body>
        <%- include('_layouts/header') -%>
            <section id="page">
                <main class="wrapper">
                    <section class="articles">
                        <form action="/products" method="POST">
                            <div class="form-box">
                                <div class="group flex">
                                    <div class="input-group right">
                                        <label for="products">Products</label>
                                        <select name="products" id="products" multiple="multiple">
                                               <% if(typeof products != 'undefined') {
                                            products.forEach(product=>{%>
                                            <option value="<%= product._id%>">
                                                <%= product.name%> ------ <%= product.price%> $
                                            </option>
                                            <% })}%>
                                        </select>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="input-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name">
                                    </div>
                                    <div class="input-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email">
                                    </div>
                                    <div class="input-group">
                                        <button class="submit" type="submit">Send</button>
                                        <button class="reset" type="reset">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </main>
            </section>
    </body>
    <%- include('_layouts/footer') -%>