.group {
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
}

label {
    color: darkgrey;
    display: block;
    font-size: 25px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-bottom: 2px solid darkgrey;
    font-size: 19px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #f9dd8f;
}

.input-group {
    margin: 10px;
    flex-grow: 1;
}

select {
    border: 0px;
    height: auto;
    overflow: hidden;
}

select:focus {
    outline: none;
}

option {
    font-size: 20px;
    margin: 3px 0;
    color: darkgrey;
    padding: 10px;
    border-bottom: 1px solid #f9dd8f;
}

option:hover {
    background: #f9dd8f;
}

#dance {
    margin: 3px 0;
    color: #474747;
    padding: 10px;
    height: auto;
    font-size: 19px;
    border-bottom: 1px solid #f9dd8f;
}

#dance:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.flex {
    display: flex;
}

button {
    width: 100%;
    box-sizing: border-box;
    font-size: 22px;
    color: #474747;
    margin-bottom: 10px;
}

option:hover {
    cursor: pointer;
}

button.submit {
    background: #f9dd8f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button.submit:hover {
    background: #ffd14f;
}

button.reset {
    background: #e1e1e1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.reset:hover {
    background: #cdc9c9;
}

textarea {
    border: 0px;
    font-size: 19px;
    width: 100%;
    resize: none;
    border-bottom: 2px solid darkgrey;
}

textarea:focus {
    outline: none;
    border-bottom: 2px solid #f9dd8f;
}

.ck .ck-content .ck-editor__editable .ck-rounded-corners .ck-editor__editable_inline .ck-blurred {
    border: none;
    border-bottom: 2px solid #f9dd8f;
}

.flex {
    display: flex;
}

.flex>div {
    margin-top: 10px;
    width: 48%;
    box-sizing: border-box;
}

.flex>div:nth-of-type(1) {
    margin-right: 2%;
}

.flex>div:nth-of-type(2) {
    margin-left: 2%;
}

#image {
    height: 0.1px;
    width: 0.1px;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    padding: 0;
}

#fileBtn {
    padding: 10px;
    text-align: center;
    background: lemonchiffon;
}

#type {
    text-align-last: center;
    background: lemonchiffon;
    color: darkgrey;
    font-size: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
}