body {
    background: url("img/heel.jpg");
    background-position: -10px -120px;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100vh;
    position: relative;
}

.main {
    height: 100vh;
}

.main h1 {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 20%;
    color: #474843;
    font-size: 34px;
}