* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: url("img/bg.png");
    background-size: 70%;
    background-position: center;
    background-repeat: repeat-y;
    position: relative;
    padding-top: 100px;
}

.articles {
    padding: 10px;
    margin: 10px;
    max-width: 850px;
    margin: 0 auto;
}

.articles p {
    margin-bottom: 5px;
    font-size: 19px;
}

.articles h2 {
    margin-bottom: 10px;
    color: #238cd6;
    letter-spacing: 1px;
    font-size: 1.6em;
}

.article-content {
    display: flex;
    align-items: center;
}

article {
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 40px 0;
    background: rgba(255, 255, 255, 0.85);
}

aside a {
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
}

nav {
    padding: 10px 150px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: auto;
}

ul {
    list-style: none;
    text-align: right;
}

a.nav-link {
    text-decoration: none;
    color: darkgrey;
    font-size: 30px;
    margin-left: 20px;
    transition: 0.3s ease-in;
}

a.nav-link:hover {
    color: #00dbc6;
}

img {
    width: 400px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

footer {
    clear: both;
    padding: 20px 150px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
}