<article class="content-box">
    <div class="article-content">
        <div class="content-text">
            <h2 class="content-title">Salsa was born in New York City</h2>
            <p>
                Dance aficionados claim that New York Style salsa is the original style of salsa, as the term and the dance were coined in the Big Apple. While salsa has its roots in many types of dance, such as rhumba, cumbia, guaracha and merengue, it didn't come together
                until the influx of Latin and Caribbean immigrants in New York in the late 1960s and early 1970 mixed bits and pieces of these other ballroom and club dances into a new form. The term "salsa" is thought to have come from the "sauce" made
                by all these different styles, and the connotation of the heat of chili pepper-based salsa definitely speaks to its flavor as well.
            </p>
        </div>
        <img src="img/salsa.jpg" alt="" class="content-img">
    </div>
</article>
<article class="content-box">
    <div class="article-content">
        <img src="img/Bachata.jpg" alt="" class="content-img">

        <div class="content-text">
            <h2 class="content-title">What is Bachata? </h2>

            <p>
                Bachata is a style of dance that originated in the Dominican Republic. It is danced widely all over the world but not identically. The basics to the dance are three-step with a Cuban hip motion, followed by a tap including a hip movement on the 4th beat.
                The knees should be slightly bent so the performer can sway the hips easier. The movement of the hips is very important because it’s a part of the soul of the dance.
            </p>

            <p>
                Generally, most of the dancer’s movement is in the lower body up to the hips, and the upper body moves much less. In partnering, the lead can decide whether to perform in open or closed position. Dance moves, or step variety, during performance strongly
                depends on the music (such as the rhythms played by the different instruments), setting, mood, and interpretation. Unlike Salsa, Bachata dance does not usually include complex turn patterns but they are used more and more as the dance
                evolves. The leading is done just like in most other social dances, with a “pushing and pulling” hand and arm communication. Hand and arm communication is better conveyed when most of the movement is performed by the lower body (from waist
                down); i.e. hips and footwork.
            </p>
        </div>
    </div>
</article>
<article class="content-box">
    <div class="article-content">
        <div class="content-text">
            <h2 class="content-title">Kizomba </h2>
            <p>
                Kizomba is one of the most popular genres of dance and music originating from Angola. It is a derivative of semba, with a mix of Kilapanda and Angolan Merengue, and sung generally in Portuguese. It is music with a romantic flow. It was the Kimbundu name
                for a dance in Angola as early as 1894. The kizomba dancing style is also known to be very sensual.
            </p>
            <p>
                Kizomba is a dance and music that was created in Angola in early 1980s.It is also performed in other lusophone African countries, in Europe and in USA. It is known for having a slow, insistent, somewhat harsh, yet sensuous rhythm; the result of electronic
                percussion. It is ideally danced accompanied by a partner, very smoothly and slowly, though not too tightly. A rather large degree of flexibility in the knees is required, owing to the frequent requirement that dancers bob up and down.
            </p>
        </div>
        <img src="img/kizomba.jpg" alt="" class="content-img">
    </div>
</article>
<article class="content-box">

    <div class="article-content">
        <img src="img/cumbia.jpg" alt="" class="content-img">
        <div class="content-text">
            <h2 class="content-title">About Cumbia </h2>
            <p>
                Cumbia is Colombia’s national dance, one of its most representative rhythms and the source and inspiration behind much of the country’s popular music. Cumbia has been with Colombia from the beginning but, thanks to bands like Bomba Estereo, it’s once
                again emerging onto the international stage. Here’s everything you need to know.
            </p>
            <p>
                To dance cumbia you need one of two musical ensembles – a conjunto de cumbia (also known as a cumbiamba) or a conjunto de gaitas. The cumbia ensemble has five instruments; the caña de millo (millet cane) or pito, which is a type of clarinet, the tambor
                mayor (a drum held between the legs, played with both hands) the llamador (a drum balanced on the knee, played with one hand) the bombo (a two-headed drum played with two sticks) and a rattle, usually the guache (a tubular rattle filled
                with seeds) or maracas. The gaitas ensemble has two gaitas (duct flutes) – the gaita hembra and the gaita macho – alongside a tambor mayor, llamador and a maraca.
            </p>
        </div>
    </div>
</article>