<nav class="navigation">
    <a href="/"><img src="img/logo.jpg" class="logo float_left" alt=""></a>
    <ul>
        <li class="nav-item">
            <a href="/salsa" class="nav-link">Salsa</a>
            <a href="/bachata" class="nav-link">Bachata</a>
            <a href="/404" class="nav-link">Kizomba</a>
            <a href="/404" class="nav-link">Cumbia</a>
            <a href="/contact" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>