<aside class="aside-right">
    <ul>
        <h2>Styles</h3>
            <li class="nav-item">
                <a href="#dominican" class="nav-link">Dominican</a>
            </li>
            <li class="nav-item">
                <a href="#moderna" class="nav-link">Moderna</a>
            </li>
            <li class="nav-item">
                <a href="#bachatango" class="nav-link">Bachatango</a>
            </li>
            <li class="nav-item">
                <a href="#sensual" class="nav-link">Sensual</a>
            </li>
    </ul>
</aside>